---
import slugify from "@sindresorhus/slugify";
import Layout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Post from "../components/Post.astro";

const allData = await Astro.glob("../data/*/*.md");

function getDataFolders() {
  let folders = {};
  allData.forEach((item) => {
    const segments = item.file.split("/");
    const folder = segments[segments.length - 2];
    folders[folder] = folders[folder] || [];
    folders[folder].push(item);
  });
  return folders;
}

function comparePost(a, b) {
  const x = a.frontmatter.order;
  const y = b.frontmatter.order;

  if (b.frontmatter.order > a.frontmatter.order) return -1;
  if (b.frontmatter.order < a.frontmatter.order) return 1;
  return 0;
}

const pages = Object.keys(getDataFolders()).map((page) => {
  const p = page.split("---")[1];
  return { page: page, url: slugify(p), title: p };
})
const pagesLimited = pages.slice(1, pages.length);
const sortedPosts = getDataFolders()["01---home"].sort(comparePost);
---
<Layout title="Czarodzieje kodu">
  <main>
    <Header pages={pagesLimited} />
      {
        sortedPosts.map((post) => (
          <Post frontmatter={post.frontmatter}>
            <Fragment set:html={post.compiledContent()} />
          </Post>
        ))
      }
  </main>
</Layout>
